# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\django框架\register_login_flask\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
